openapi: 3.2.0
info:
  title: Qase TestOps API v1 Defects API
  description: The Qase TestOps API v1 is a token-authenticated REST API for the Qase test management platform.
  version: '1.0'
  contact:
    name: Qase
    url: https://developers.qase.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.qase.io/v1
  description: Qase TestOps API v1
security:
- TokenAuth: []
tags:
- name: Defects
  description: Defects raised against failed test results.
paths:
  /defect/{code}:
    parameters:
    - $ref: '#/components/parameters/Code'
    get:
      operationId: get-defects
      tags:
      - Defects
      summary: Get all defects
      description: Retrieves all defects stored in the selected project.
      parameters:
      - name: status
        in: query
        description: 'Possible values: open, resolved, in_progress, invalid.'
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of defects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /defect/{code}/{id}:
    parameters:
    - $ref: '#/components/parameters/Code'
    - $ref: '#/components/parameters/Id'
    get:
      operationId: get-defect
      tags:
      - Defects
      summary: Get a specific defect
      description: Retrieves a specific defect by id.
      responses:
        '200':
          description: A defect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-defect
      tags:
      - Defects
      summary: Delete a specific defect
      description: Deletes a specific defect by id.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /defect/{code}/resolve/{id}:
    parameters:
    - $ref: '#/components/parameters/Code'
    - $ref: '#/components/parameters/Id'
    patch:
      operationId: resolve-defect
      tags:
      - Defects
      summary: Resolve a specific defect
      description: Marks a specific defect as resolved.
      responses:
        '200':
          description: Resolve result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /defect/{code}/status/{id}:
    parameters:
    - $ref: '#/components/parameters/Code'
    - $ref: '#/components/parameters/Id'
    patch:
      operationId: update-defect-status
      tags:
      - Defects
      summary: Update a defect status
      description: Updates the status of a specific defect (open or in progress).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - open
                  - in_progress
      responses:
        '200':
          description: Status update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too Many Requests - the rate limit has been exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Limit:
      name: limit
      in: query
      description: A number of entities in result set. Default is 10, max is 100.
      schema:
        type: integer
        default: 10
        maximum: 100
    Code:
      name: code
      in: path
      required: true
      description: Code of the project, uppercase, 2-10 characters.
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: How many entities should be skipped. Default is 0.
      schema:
        type: integer
        default: 0
    Id:
      name: id
      in: path
      required: true
      description: Identifier of the entity.
      schema:
        type: integer
  schemas:
    Error:
      type: object
      properties:
        status:
          type: boolean
          example: false
        errorMessage:
          type: string
        errorFields:
          type: array
          items:
            type: object
            additionalProperties: true
    IdResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        result:
          type: object
          properties:
            id:
              type: integer
    DefectResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Defect'
    DefectListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Defect'
    BaseResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
    Defect:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        actual_result:
          type: string
        severity:
          type: integer
        status:
          type: string
        milestone_id:
          type: integer
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Token
      description: A personal or application API token. Create it in the Qase app under Settings and pass it in the `Token` header on every request. All requests must use HTTPS.
