openapi: 3.0.3
info:
  title: Qase TestOps API v1
  description: >-
    The Qase TestOps API v1 is a token-authenticated REST API for the Qase test
    management platform. It exposes the core test management domain over HTTPS -
    Projects, Test Cases, Test Suites, Test Runs, Test Results, Defects, and Test
    Plans - so teams can create and manage test cases, launch and complete test
    runs, publish automated test results from CI pipelines, and track defects
    programmatically. Authentication uses a personal or application API token
    passed in the `Token` header. Most collection endpoints are scoped by a
    project code (a 2-10 character identifier), and support limit/offset
    pagination. This description grounds a representative subset of the full
    surface documented at developers.qase.io; the machine-readable source
    specification is published at github.com/qase-tms/specs.
  version: '1.0'
  contact:
    name: Qase
    url: https://developers.qase.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.qase.io/v1
    description: Qase TestOps API v1
security:
  - TokenAuth: []
tags:
  - name: projects
    description: Test projects that contain cases, suites, runs, and results.
  - name: cases
    description: Test cases stored in a project repository.
  - name: suites
    description: Test suites that group and organize test cases.
  - name: runs
    description: Test runs - executions of selected test cases in a project.
  - name: results
    description: Test run results, including bulk publishing from CI/automation.
  - name: defects
    description: Defects raised against failed test results.
  - name: plans
    description: Test plans - reusable selections of test cases.
paths:
  /project:
    get:
      operationId: get-projects
      tags: [projects]
      summary: Get all projects
      description: Retrieves all projects available to the authenticated user.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: create-project
      tags: [projects]
      summary: Create a new project
      description: Creates a new project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '200':
          description: The created project code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /project/{code}:
    parameters:
      - $ref: '#/components/parameters/Code'
    get:
      operationId: get-project
      tags: [projects]
      summary: Get a specific project
      description: Retrieves a specific project by code.
      responses:
        '200':
          description: A project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-project
      tags: [projects]
      summary: Delete a specific project
      description: Deletes a specific project by code.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /case/{code}:
    parameters:
      - $ref: '#/components/parameters/Code'
    get:
      operationId: get-cases
      tags: [cases]
      summary: Get all test cases
      description: Retrieves all test cases stored in the selected project.
      parameters:
        - name: suite_id
          in: query
          schema:
            type: integer
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of test cases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: create-case
      tags: [cases]
      summary: Create a new test case
      description: Creates a test case in the selected project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseCreate'
      responses:
        '200':
          description: The created test case id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /case/{code}/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    get:
      operationId: get-case
      tags: [cases]
      summary: Get a specific test case
      description: Retrieves a specific test case by id.
      responses:
        '200':
          description: A test case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      operationId: update-case
      tags: [cases]
      summary: Update a specific test case
      description: Updates a specific test case by id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseCreate'
      responses:
        '200':
          description: The updated test case id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-case
      tags: [cases]
      summary: Delete a specific test case
      description: Deletes a specific test case by id.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /suite/{code}:
    parameters:
      - $ref: '#/components/parameters/Code'
    get:
      operationId: get-suites
      tags: [suites]
      summary: Get all test suites
      description: Retrieves all test suites stored in the selected project.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of test suites.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: create-suite
      tags: [suites]
      summary: Create a new test suite
      description: Creates a test suite in the selected project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuiteCreate'
      responses:
        '200':
          description: The created test suite id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /suite/{code}/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    get:
      operationId: get-suite
      tags: [suites]
      summary: Get a specific test suite
      description: Retrieves a specific test suite by id.
      responses:
        '200':
          description: A test suite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      operationId: update-suite
      tags: [suites]
      summary: Update a specific test suite
      description: Updates a specific test suite by id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuiteCreate'
      responses:
        '200':
          description: The updated test suite id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-suite
      tags: [suites]
      summary: Delete a specific test suite
      description: Deletes a specific test suite by id.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /run/{code}:
    parameters:
      - $ref: '#/components/parameters/Code'
    get:
      operationId: get-runs
      tags: [runs]
      summary: Get all test runs
      description: Retrieves all test runs stored in the selected project.
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: status
          in: query
          description: >-
            A list of status values separated by comma. Possible values:
            in_progress, passed, failed, aborted.
          schema:
            type: string
        - name: milestone
          in: query
          schema:
            type: integer
        - name: environment
          in: query
          schema:
            type: integer
        - name: from_start_time
          in: query
          schema:
            type: integer
            format: int64
        - name: to_start_time
          in: query
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of all test runs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: create-run
      tags: [runs]
      summary: Create a new test run
      description: Creates a test run in the selected project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCreate'
      responses:
        '200':
          description: The created test run id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /run/{code}/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    get:
      operationId: get-run
      tags: [runs]
      summary: Get a specific test run
      description: Retrieves a specific test run by id.
      responses:
        '200':
          description: A test run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      operationId: update-run
      tags: [runs]
      summary: Update a specific test run
      description: Updates a specific test run by id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunUpdate'
      responses:
        '200':
          description: Update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-run
      tags: [runs]
      summary: Delete a specific test run
      description: Completely deletes a test run from the repository.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /run/{code}/{id}/complete:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    post:
      operationId: complete-run
      tags: [runs]
      summary: Complete a specific test run
      description: Marks a specific test run as complete.
      responses:
        '200':
          description: Completion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /run/{code}/{id}/public:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    patch:
      operationId: update-run-publicity
      tags: [runs]
      summary: Update a test run publicity
      description: >-
        Enables or disables a public, shareable link for a specific test run and
        returns the public report URL when enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: boolean
      responses:
        '200':
          description: Public link result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /result/{code}:
    parameters:
      - $ref: '#/components/parameters/Code'
    get:
      operationId: get-results
      tags: [results]
      summary: Get all test run results
      description: Retrieves all test run results stored in the selected project.
      parameters:
        - name: status
          in: query
          description: >-
            A single test run result status. Possible values: in_progress,
            passed, failed, blocked, skipped, invalid.
          schema:
            type: string
        - name: run
          in: query
          description: A list of run IDs separated by comma.
          schema:
            type: string
        - name: case_id
          in: query
          description: A list of case IDs separated by comma.
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of all test run results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /result/{code}/{hash}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Hash'
    get:
      operationId: get-result
      tags: [results]
      summary: Get a specific test run result
      description: Retrieves a specific test run result by hash.
      responses:
        '200':
          description: A test run result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /result/{code}/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    post:
      operationId: create-result
      tags: [results]
      summary: Create a test run result
      description: Creates a test run result for the given run id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultCreate'
      responses:
        '200':
          description: The created result hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /result/{code}/{id}/bulk:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    post:
      operationId: create-result-bulk
      tags: [results]
      summary: Bulk create test run results
      description: >-
        Creates multiple test run results for the given run id in a single
        request. This is the endpoint automation reporters use to publish CI
        results in bulk.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultBulkCreate'
      responses:
        '200':
          description: Bulk create result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /result/{code}/{id}/{hash}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/Hash'
    patch:
      operationId: update-result
      tags: [results]
      summary: Update a test run result
      description: Updates an existing test run result identified by run id and hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultCreate'
      responses:
        '200':
          description: The updated result hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-result
      tags: [results]
      summary: Delete a test run result
      description: Deletes a test run result identified by run id and hash.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /defect/{code}:
    parameters:
      - $ref: '#/components/parameters/Code'
    get:
      operationId: get-defects
      tags: [defects]
      summary: Get all defects
      description: Retrieves all defects stored in the selected project.
      parameters:
        - name: status
          in: query
          description: 'Possible values: open, resolved, in_progress, invalid.'
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of defects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /defect/{code}/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    get:
      operationId: get-defect
      tags: [defects]
      summary: Get a specific defect
      description: Retrieves a specific defect by id.
      responses:
        '200':
          description: A defect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-defect
      tags: [defects]
      summary: Delete a specific defect
      description: Deletes a specific defect by id.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /defect/{code}/resolve/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    patch:
      operationId: resolve-defect
      tags: [defects]
      summary: Resolve a specific defect
      description: Marks a specific defect as resolved.
      responses:
        '200':
          description: Resolve result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /defect/{code}/status/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    patch:
      operationId: update-defect-status
      tags: [defects]
      summary: Update a defect status
      description: Updates the status of a specific defect (open or in progress).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - open
                    - in_progress
      responses:
        '200':
          description: Status update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /plan/{code}:
    parameters:
      - $ref: '#/components/parameters/Code'
    get:
      operationId: get-plans
      tags: [plans]
      summary: Get all test plans
      description: Retrieves all test plans stored in the selected project.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of test plans.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: create-plan
      tags: [plans]
      summary: Create a new test plan
      description: Creates a test plan in the selected project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        '200':
          description: The created test plan id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /plan/{code}/{id}:
    parameters:
      - $ref: '#/components/parameters/Code'
      - $ref: '#/components/parameters/Id'
    get:
      operationId: get-plan
      tags: [plans]
      summary: Get a specific test plan
      description: Retrieves a specific test plan by id.
      responses:
        '200':
          description: A test plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      operationId: update-plan
      tags: [plans]
      summary: Update a specific test plan
      description: Updates a specific test plan by id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        '200':
          description: The updated test plan id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete-plan
      tags: [plans]
      summary: Delete a specific test plan
      description: Deletes a specific test plan by id.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Token
      description: >-
        A personal or application API token. Create it in the Qase app under
        Settings and pass it in the `Token` header on every request. All
        requests must use HTTPS.
  parameters:
    Code:
      name: code
      in: path
      required: true
      description: Code of the project, uppercase, 2-10 characters.
      schema:
        type: string
    Id:
      name: id
      in: path
      required: true
      description: Identifier of the entity.
      schema:
        type: integer
    Hash:
      name: hash
      in: path
      required: true
      description: Hash of the entity (used for test run results).
      schema:
        type: string
    Limit:
      name: limit
      in: query
      description: A number of entities in result set. Default is 10, max is 100.
      schema:
        type: integer
        default: 10
        maximum: 100
    Offset:
      name: offset
      in: query
      description: How many entities should be skipped. Default is 0.
      schema:
        type: integer
        default: 0
  responses:
    Unauthorized:
      description: Unauthorized - missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests - the rate limit has been exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status:
          type: boolean
          example: false
        errorMessage:
          type: string
        errorFields:
          type: array
          items:
            type: object
            additionalProperties: true
    BaseResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
    IdResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        result:
          type: object
          properties:
            id:
              type: integer
    HashResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        result:
          type: object
          properties:
            hash:
              type: string
    CodeResponse:
      type: object
      properties:
        status:
          type: boolean
          example: true
        result:
          type: object
          properties:
            code:
              type: string
    ProjectCreate:
      type: object
      required:
        - title
        - code
      properties:
        title:
          type: string
        code:
          type: string
          description: Uppercase project code, 2-10 characters.
        description:
          type: string
        access:
          type: string
          enum:
            - all
            - group
            - none
    Project:
      type: object
      properties:
        title:
          type: string
        code:
          type: string
        counts:
          type: object
          additionalProperties: true
    ProjectResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Project'
    ProjectListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Project'
    CaseCreate:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        description:
          type: string
        preconditions:
          type: string
        postconditions:
          type: string
        severity:
          type: integer
        priority:
          type: integer
        type:
          type: integer
        suite_id:
          type: integer
        steps:
          type: array
          items:
            type: object
            additionalProperties: true
    Case:
      allOf:
        - $ref: '#/components/schemas/CaseCreate'
        - type: object
          properties:
            id:
              type: integer
    CaseResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Case'
    CaseListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Case'
    SuiteCreate:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        description:
          type: string
        preconditions:
          type: string
        parent_id:
          type: integer
    Suite:
      allOf:
        - $ref: '#/components/schemas/SuiteCreate'
        - type: object
          properties:
            id:
              type: integer
    SuiteResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Suite'
    SuiteListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Suite'
    RunCreate:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        description:
          type: string
        cases:
          type: array
          description: A list of test case IDs to include in the run.
          items:
            type: integer
        plan_id:
          type: integer
        environment_id:
          type: integer
        milestone_id:
          type: integer
        is_autotest:
          type: boolean
    RunUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
    Run:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        status:
          type: integer
        status_text:
          type: string
        start_time:
          type: string
        end_time:
          type: string
        public:
          type: boolean
        stats:
          type: object
          additionalProperties: true
    RunResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Run'
    RunListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Run'
    ResultCreate:
      type: object
      required:
        - case_id
        - status
      properties:
        case_id:
          type: integer
        status:
          type: string
          enum:
            - passed
            - failed
            - blocked
            - skipped
            - invalid
            - in_progress
        time_ms:
          type: integer
          format: int64
        comment:
          type: string
        defect:
          type: boolean
        steps:
          type: array
          items:
            type: object
            additionalProperties: true
    ResultBulkCreate:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResultCreate'
    Result:
      type: object
      properties:
        hash:
          type: string
        case_id:
          type: integer
        status:
          type: string
        time_ms:
          type: integer
          format: int64
        comment:
          type: string
        run_id:
          type: integer
    ResultResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Result'
    ResultListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Result'
    Defect:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        actual_result:
          type: string
        severity:
          type: integer
        status:
          type: string
        milestone_id:
          type: integer
    DefectResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Defect'
    DefectListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Defect'
    PlanCreate:
      type: object
      required:
        - title
        - cases
      properties:
        title:
          type: string
        description:
          type: string
        cases:
          type: array
          items:
            type: integer
    Plan:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        cases_count:
          type: integer
    PlanResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          $ref: '#/components/schemas/Plan'
    PlanListResponse:
      type: object
      properties:
        status:
          type: boolean
        result:
          type: object
          properties:
            total:
              type: integer
            filtered:
              type: integer
            count:
              type: integer
            entities:
              type: array
              items:
                $ref: '#/components/schemas/Plan'
